<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Home Page
        </title>
    </head>
    <body>
        {{!--<h1>{{pageTitle}}<h1>--}}
        {{> header}}
        {{!--<p>Greetings...</p>--}}
        <p>{{capitalize msg}}</p>
        
        {{!--<footer>--}}
        {{!--    <p>@Date {{currentDate}}</p>--}}
        {{!--</footer>--}}
        {{> footer}}
        
    </body>
</html>